@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import "tailwindcss";

@theme {
    --font-mont: "Montserrat", sans-serif;

    --color-champagne: '#EFE5D2';
    --color-gold: '#C28D39';
    --color-burgundy: '#710912';
    --color-espresso: '#362822';
    --color-midnight: '#0D0D0D';
}
